---
layout: page
title: "EU Projects"
description: "VCLab's participation in EU Projects"
header-img: "img/home-bg.jpg"
---
<hr>

{% for project in site.data.projects %} {% if project.visible == true %}
	
	{% if project.img %} 
	<img src="{{ project.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:110px; height:110px !important">
	{% endif %}
	
	<h1>{{ project.name }}</h1>
	
	<div style = "text-align: justify;">{{ project.description }}</div>
	
	
	{% if project.website %} 
	<a href="{{ project.website}}"> Project Website </a>
	{% endif %}
	
	<hr>

{% endif %}{% endfor %}

