---
layout: page
title: "Publications"
description: "VCL's Conference Publications"
header-img: "img/home-bg.jpg"
---
<hr>

{% for publication in site.data.publications %} {% if publication.visible == true %}
	
	<h1>{{ publication.name }}</h1>
	
	<p>{{ publication.info }}</p>
	
	{% if publication.github %} 
	<span class="social-share-googleplus"><a href="{{ publication.github }}" title="PDF"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">PDF</a></span> 
	{% endif %}
	{% if publication.gplus %}
	<span class="social-share-googleplus"><a href="{{ publication.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
	{% endif %}
	{% if publication.url %}
	<span class="social-share-googleplus"><a href="{{ publication.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}
	
	</br>

	{% if publication.bio %} 
	{{ publication.bio }}
	{% endif %}
	
	<hr>

{% endif %}{% endfor %}

